<mat-card>
  <mat-card-header>
    <mat-card-title><h3>Toplamlar</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-checkbox name="isMount" #isMount>Montaj Tarihi Ekle</mat-checkbox>
      </mat-list-item>
      <mat-list-item *ngIf="isMount.checked">
        <mat-form-field>
          <input matInput name="mountDate" [matDatepicker]="picker" [(ngModel)]="mountDate"  placeholder="Teslim Tarihi">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>
      </mat-list-item>
        <mat-list-item>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [(ngModel)]="deliveryDate"  placeholder="Teslim Tarihi">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="input-sm">
          <input matInput type="number" name="deposit" [(ngModel)]="deposit" placeholder="Kapora">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="input-sm">
          <input matInput type="number" name="totalAmount" [(ngModel)]="totalAmount" placeholder="Düzelt">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <strong>Alt Toplam:&nbsp; </strong> <i>{{ totalAmount-deposit }}</i>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="">
    <button mat-button color="warn" (click)="closeDialog(false)">İptal</button>
    <button mat-raised-button color="accent" (click)="closeDialog(true)">Oluştur</button>
  </mat-card-actions>
</mat-card>
