<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p-table [columns]="cols"
               [value]="orders"
               [lazy]="!customerId"
               [rows]="5"
               [rowHover]="true"
               [(selection)]="ordersInProcess"
               [paginator]="true"
               [rowsPerPageOptions]="[5,10,20]"
               [totalRecords]="totalRecords"
               [autoLayout]="true"
               [virtualRowHeight]="20"
               (onLazyLoad)="customerId?null:loadOrdersLazy($event)">
        <ng-template pTemplate="caption">
           <span *ngIf="ordersInProcess.length>0" class="float-left orders-header-button">
                  <button mat-icon-button class="delete-action" color="accent" (click)="deleteProcessConfirmation()">
                    <mat-icon>delete</mat-icon>
                  </button>
           </span>
          <span>Tüm Siparişler</span>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th (select)="false">
              <mat-icon>list</mat-icon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-columns="columns">
          <tr [pSelectableRow]="order">
            <td>
              <p-tableCheckbox [value]="order"></p-tableCheckbox>
            </td>
            <td>
              {{order.customer.nameSurname}}
            </td>
            <td>
              {{order.customer.mobilePhone}}
            </td>
            <td>
              {{order[columns[2].field]}}
            </td>
            <td>
              {{ orderStatus[order[columns[3].field]] }}
            </td>
            <td>
              {{order[columns[4].field]}}
            </td>
            <td>
              {{order[columns[5].field] | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{order[columns[6].field] | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{order[columns[7].field] | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{order[columns[8].field] | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{order[columns[9].field] | currency: 'TRY':'2.2-2'}}
            </td>
            <td>
              {{order[columns[10].field] | currency: 'TRY':'2.2-2'}}
            </td>
            <td>
              {{(order[columns[9].field] - order[columns[10].field]) | currency: 'TRY':'2.2-2'}}
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goDetail(order)">
                  <mat-icon>library_books</mat-icon>
                  <span>Detay</span>
                </button>
                <button mat-menu-item (click)="edit(order)">
                  <mat-icon>mode_edit</mat-icon>
                  <span>Düzenle</span>
                </button>
                <button mat-menu-item (click)="addOrderline(order.id)">
                  <mat-icon>playlist_add</mat-icon>
                  <span>Ölçü Ekle</span>
                </button>
                <button mat-menu-item (click)="deleteProcessConfirmation(order.id)">
                  <mat-icon>clear</mat-icon>
                  <span>Sil</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div *ngIf="!isPending" class="alert alert-light" role="alert">
            {{ totalRecords >0 ? 'Toplam sipariş adedi: '+ totalRecords:'Kayıtlı siparişiniz bulunmuyor' }}
          </div>
        </ng-template>
      </p-table>
      <div *ngIf="isPending" class="ui-table-loading-content">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </div>
  </div>
</div>
