<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="mat-elevation-z10">
        <p-table *ngIf="visible"
               [value]="orders"
               [lazy]="isLazyLoad"
               [rows]="10"
               [rowHover]="true"
               [(selection)]="ordersInProcess"
               [paginator]="!singleRow"
               [loading]="isPending"
               [rowsPerPageOptions]="[5,10,20]"
               [totalRecords]="totalRecords"
               [autoLayout]="true"
               [virtualRowHeight]="20"
               class="orders-table"
               (onLazyLoad)="isLazyLoad?loadOrdersLazy($event):null">
          <ng-template pTemplate="caption">
           <span *ngIf="ordersInProcess.length>0 && !isTailor" class="float-left orders-header-button">
                  <button mat-icon-button class="delete-action" color="accent" (click)="deleteProcessConfirmation()">
                    <mat-icon>delete</mat-icon>
                  </button>
           </span>
            <span>{{ singleRow ? "Sipariş":"Tüm Siparişler" }}</span>&nbsp;
            <span [class.d-none]="filterValue === null" class="text-muted font-italic">({{ (filterValue | orderStatus).viewValue }})</span>
            <span *ngIf="paymentIconDisplay&&!isTailor" class="payments-toggle-button">
              <mat-menu #paymentMenu="matMenu">
                <button mat-menu-item (click)="paymentsDisplay = !paymentsDisplay">
                  {{ paymentsDisplay ? "Ödeme Bilgilerini Gizle" : "Ödeme Bilgilerini Göster" }}
                </button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="paymentMenu">
                <mat-icon>info_outline</mat-icon>
              </button>
           </span>
          </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngIf="!isTailor && !singleRow" style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngIf="displayCustomer">
              <th>Müşteri İsmi</th>
              <th>Müşteri Tel</th>
            </ng-container>
            <th>Ölçü Alan</th>
            <th>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>Durumu</span>
                <div *ngIf="!singleRow">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon color="warn" matTooltip="Siparişleri süzün">filter_list</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" (click)="filterOrders(null)">
                      <span class="app-text-sm">Hepsi</span>
                    </button>
                    <button *ngFor="let os of orderStatus" mat-menu-item [value]="os.value" type="button" (click)="filterOrders(os.value)">
                      <span class="app-text-sm">{{ os.viewValue }}</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </th>
            <th>Sipariş No</th>
            <th>Sipariş Tarihi</th>
            <th>Teslim Tarihi</th>
            <th *ngIf="!isTailor">Ölçü Alma Tarihi</th>
            <th *ngIf="!isTailor">Montaj</th>
            <ng-container *ngIf="paymentsDisplay">
              <th>Toplam</th>
              <th>Ödenen</th>
              <th>Kalan</th>
            </ng-container>
            <th (select)="false">
              <mat-icon>list</mat-icon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-columns="columns">
          <tr [pSelectableRow]="order">
            <td *ngIf="!isTailor && !singleRow">
              <p-tableCheckbox [value]="order"></p-tableCheckbox>
            </td>
            <td *ngIf="displayCustomer" class="text-capitalize">
              {{order.customer.nameSurname}}
            </td>
            <td *ngIf="displayCustomer">
              {{order.customer.mobilePhone}}
            </td>
            <td>
              {{order['userNameSurname']}}
            </td>
            <td>
              {{ (order.orderStatus | orderStatus).viewValue }}
            </td>
            <td>
              {{order.orderNumber}}
            </td>
            <td>
              {{order.orderDate | date: 'dd/MM/yyyy' || '-'}}
            </td>
            <td>
              {{order.deliveryDate | date: 'dd/MM/yyyy' || '-'}}
            </td>
            <td *ngIf="!isTailor">
              {{order.measureDate | date: 'dd/MM/yyyy' || '-'}}
            </td>
            <td *ngIf="!isTailor" class="text-center">
              <i [class]="order.mountExist ? 'fa fa-check text-success':'fa fa-times text-danger'">
              </i>
            </td>
            <ng-container *ngIf="paymentsDisplay && !isTailor">
              <td>
                {{order.totalAmount | currency: 'TRY':'2.2-2'}}
              </td>
              <td>
                {{order.depositeAmount | currency: 'TRY':'2.2-2'}}
              </td>
              <td>
                {{(order.totalAmount- order.depositeAmount) | currency: 'TRY':'2.2-2'}}
              </td>
            </ng-container>
            <td>
              <ng-container *ngIf="!isTailor;else tailor">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button *ngIf="!singleRow" mat-menu-item (click)="goDetail(order.id)">
                    <mat-icon>library_books</mat-icon>
                    <span>Detay</span>
                  </button>
                    <button mat-menu-item (click)="edit(order)">
                      <mat-icon>mode_edit</mat-icon>
                      <span>Düzenle</span>
                    </button>
                    <button mat-menu-item *ngIf="order.orderStatus !==4 && order.orderStatus !==5" (click)="addOrderline(order)">
                      <mat-icon>playlist_add</mat-icon>
                      <span>Ölçü Ekle</span>
                    </button>
                    <button *ngIf="!singleRow" mat-menu-item (click)="deleteProcessConfirmation(order.id)">
                      <mat-icon>clear</mat-icon>
                      <span>Sil</span>
                    </button>
                </mat-menu>
              </ng-container>
              <ng-template #tailor>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button *ngIf="!singleRow" mat-menu-item (click)="goDetail(order.id)">
                    <mat-icon>library_books</mat-icon>
                    <span>Detay</span>
                  </button>
                  <button mat-menu-item type="button">
                    <mat-slide-toggle (change)="changeOrderStatus($event, order)"
                                      [checked]="order.orderStatus === 4" #orderStatusSlider>
                      {{ orderStatusSlider.checked ? 'Bitti':'Bitmedi' }}
                    </mat-slide-toggle>
                  </button>
                </mat-menu>
              </ng-template>
            </td>
          </tr>
        </ng-template>
        <ng-template *ngIf="!singleRow" pTemplate="summary">
          <div *ngIf="!isPending" class="alert alert-light" role="alert">
            {{ totalRecords > 0 ? 'Toplam sipariş adedi: '+ totalRecords:'Listelenecek  siparişiniz bulunmuyor' }}
          </div>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>
