.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}

.form-container > * {
  width: 100%;
}

.add-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

tr.tb-sm-row td:last-child {
  width: 1px;
  white-space: nowrap;
}

table.tb-fixed{
  table-layout: fixed;
  width: 150%;
}

table.tb-fixed th{
  width: 60px;
}

.input-lrg{

}

.input-md{

}

.input-sm{
  width:70%
}
