.toolbar{
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.notifications>li{
  font-size: 0.8em;
  line-height: 0.8em;
}

.notify-counter{
  position: relative;
  bottom: 10px;
  right: 12px;
  padding: 0.5em 0.5em;
  line-height: 0.75;
  border-radius: 0.5rem;
  background-color: #ffc107;
}

.list-button{
  line-height: 18px;
}

.small-icon{
  font-size: 18px;
}


