<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button color="accent" (click)="toggleSidenav()">
      <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
    </button>
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <a mat-button routerLink="/login">Login</a>
    <router-outlet></router-outlet>
   <ng-template #userProfile>
     <button mat-mini-fab color="accent">
       <mat-icon>person</mat-icon>
     </button>
   </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
