<mat-toolbar color="primary" class="toolbar mat-elevation-z10">
  <mat-toolbar-row>
    <ng-container *ngIf="user.role == 'r1' || user.role == 'r2'">
      <button mat-icon-button color="accent" (click)="toggleSidenav.emit()">
        <mat-icon class="app-sm-icon" style="color: #000000">menu</mat-icon>
      </button>
      <app-search-bar></app-search-bar>
    </ng-container>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button [disabled]="messageService.messages?.length === 0" (click)="toggleNotifies.emit()">
      <mat-icon [ngClass]="newMessage ? 'animated swing':''" #notify>notifications</mat-icon>
      <span *ngIf="messageService.messages?.length > 0" class="badge badge-light notify-counter animated bounce">{{messageService.messages?.length }}</span>
    </button>
    <a mat-button *ngIf="isLogged(); else userProfile" routerLink="/auth">Login</a>
   <ng-template #userProfile>
     <mat-menu #profileMenu="matMenu">
       <div class="menu-title">
         <span>{{ user.userName }}</span>
       </div>
       <button *ngIf="user.role === 'r1'" mat-menu-item>
         <mat-icon class="app-no-margin">supervisor_account</mat-icon>
         <span>Kullanıcılar</span>
       </button>
       <button mat-menu-item [routerLink]="user.role === 'r3' ? '/tailor/settings':'/user/settings'">
         <mat-icon class="app-no-margin">settings</mat-icon>
         <span>Ayarlar</span>
       </button>
       <button mat-menu-item (click)="logout()">
         <mat-icon class="app-no-margin">exit_to_app</mat-icon>
         <span>Çıkış</span>
       </button>
     </mat-menu>

     <button mat-icon-button [matMenuTriggerFor]="profileMenu">
       <mat-icon>account_circle</mat-icon>
     </button>
   </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
