<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <button *ngIf="user.role == 'r1' || user.role == 'r2'" mat-icon-button color="accent" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Application Title</span>

    <span class="fill-remaining-space"></span>
    <button mat-icon-button [disabled]="messageService.messages?.length === 0" (click)="toggleNotifies.emit()">
      <mat-icon [ngClass]="newMessage ? 'animated swing':''">notifications</mat-icon>
      <span *ngIf="messageService.messages?.length > 0" class="badge badge-light notify-counter animated bounce">{{messageService.messages?.length }}</span>
    </button>
    <span *ngIf="!isScreenSmall">{{ user.userName }}</span>
    <a mat-button *ngIf="isLogged(); else userProfile" routerLink="/auth">Login</a>
   <ng-template #userProfile>
     <mat-menu #profileMenu="matMenu">
       <button mat-menu-item (click)="logout()"> Logout </button>
       <button mat-menu-item> Help </button>
     </mat-menu>

     <button mat-icon-button [matMenuTriggerFor]="profileMenu">
       <mat-icon>account_circle</mat-icon>
     </button>
   </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
