<div class="container">
  <table>
    <thead>
    <tr>
      <th scope="col" colspan="2">Ölçü Değerleri</th>
      <th scope="col" *ngIf="orderlineProperties.direction">
        {{ orderline.product.productValue === 9 ? "Yön" : "Zincir Yönü" }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="count<=1;else multiOrderline">
      <td>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0" step="25" placeholder="En" [(ngModel)]="orderline.propertyWidth"/>
          <span matSuffix>cm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0" step="25" placeholder="Boy" [(ngModel)]="orderline.propertyHeight"/>
          <span matSuffix>cm</span>
        </mat-form-field>
      </td>
      <td *ngIf="orderlineProperties.direction">
        <ng-container *ngIf="orderline.product.productValue!==9; else fonPerde">
          <mat-button-toggle-group [(ngModel)]="orderline.direction" #group="matButtonToggleGroup">
            <mat-button-toggle [value]="1">
              <mat-icon>border_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="2">
              <mat-icon>border_right</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </ng-container>
      </td>
    <ng-template #fonPerde>
      <td>
        <mat-checkbox name="right" [(ngModel)]="directionRight">Sağ</mat-checkbox>
        <mat-checkbox name="left" [(ngModel)]="directionLeft">Sol</mat-checkbox>
      </td>
    </ng-template>
    </tr>
    <ng-template #multiOrderline>
      <tr *ngFor="let or of orderlines">
        <td>
          <mat-form-field class="form-field">
            <input matInput type="number" min="0" step="25" placeholder="En" [(ngModel)]="or.propertyWidth"/>
            <span matSuffix>cm</span>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-field">
            <input matInput type="number" min="0" step="25" placeholder="Boy" [(ngModel)]="or.propertyHeight"/>
            <span matSuffix>cm</span>
          </mat-form-field>
        </td>
        <td>
          <mat-button-toggle-group [(ngModel)]="or.direction" #group="matButtonToggleGroup">
            <mat-button-toggle [value]="1">
              <mat-icon>border_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="2">
              <mat-icon>border_right</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      <tr>
    </ng-template>
    <tr>
      <td>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Desen" [(ngModel)]="orderline.product.patternCode"/>
          <mat-icon matSuffix>view_headline</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Varyant" [(ngModel)]="orderline.product.variantCode"/>
          <mat-icon matSuffix>texture</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="İsim" [(ngModel)]="orderline.product.aliasName"/>
          <mat-icon matSuffix>filter_list</mat-icon>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="orderlineProperties.sizeOfPile">
      <td>
          <mat-form-field class="form-field">
            <input matInput
                   type="number"
                   step="0.5"
                   min="0.5"
                   max = 3.5
                   placeholder="Pile Sıklığı"
                   [(ngModel)]="orderline.sizeOfPile"/>
          </mat-form-field>
      </td>
      <td *ngIf="orderlineProperties.pileName">
        <mat-form-field class="form-field">
          <mat-select [(ngModel)]="orderline.pileName" required placeholder="Pile İsmi">
            <mat-option *ngFor="let pile of piles" [value]="pile.value">
              {{ pile.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0" placeholder="Birim Fiyat" [(ngModel)]="orderline.unitPrice"/>
          <span matSuffix>TL</span>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="orderlineProperties.skirtAndBeadOptions">
      <td>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Etek Dilimi" [(ngModel)]="orderline.skirtNo"/>
        </mat-form-field>
      </td>
      <td *ngIf="orderlineProperties.skirtAndBeadOptions">
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Boncuk" [(ngModel)]="orderline.beadNo"/>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="orderlineProperties.propertyLeftRightWidth">
      <td>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0" step="5" placeholder="Sol En" [(ngModel)]="orderline.propertyLeftWidth"/>
          <span matSuffix>cm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0" step="5" placeholder="Sağ En" [(ngModel)]="orderline.propertyRightWidth"/>
          <span matSuffix>cm</span>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="orderlineProperties.altWidthAndHeight">
      <td>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0" step="5" placeholder="Farbella En" [(ngModel)]="orderline.propertyAlternativeWidth"/>
          <span matSuffix>cm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0" step="5" placeholder="Farbella Boy" [(ngModel)]="orderline.propertyAlternativeHeight"/>
          <span matSuffix>cm</span>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="orderlineProperties.propertyModelName">
      <td>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Model" [(ngModel)]="orderline.propertyModelName"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <mat-form-field class="form-field">
          <textarea matInput type="text" placeholder="Açıklama"
                    [(ngModel)]="orderline.lineDescription">
          </textarea>
        </mat-form-field>
      </td>
    </tr>
   </tbody>
  </table>
</div>
<mat-card-actions>
  <button mat-button color="warn" (click)="closeDialog(false)">Hayır</button>
  <button mat-raised-button color="accent" (click)="closeDialog(true)">Evet</button>
</mat-card-actions>
