<ng-container *ngIf="orderStatusObj">
  <div role="alert">
    <h4 class="alert-heading text-danger">Kayıt İşlemi</h4>
    <p>{{ orderStatusObj.message }}</p>
    <hr>
    <p class="mb-0">
      <mat-checkbox *ngIf="isToBeMeasureDisplay" [(ngModel)]="isToBeMeasure">Ölçüye Gidildi</mat-checkbox>
    </p>
  </div>
  <mat-card-actions>
    <button mat-button color="warn" (click)="closeDialog(false)">Vazgeç</button>
    <button mat-raised-button color="accent" (click)="closeDialog(true)">Tamam</button>
  </mat-card-actions>
</ng-container>
