<div class="container">
  <div [hidden]="isProgressive">
    <form #form="ngForm">
      <!--<fieldset [disabled]="!isEdit">-->
        <table>
          <thead>
          <tr>
            <th scope="col" colspan="2">Ölçü Değerleri</th>
            <th scope="col" *ngIf="orderlineProperties.direction">
              {{ orderline.product.productValue === 9 ? "Yön" : "Zincir Yönü" }}
            </th>
          </tr>
          </thead>
          <tfoot *ngIf="alertShow && !form.valid">
          <tr>
            <td colspan="3">
              <p class="text-danger">Ölçü formunda eksik alanlar var !
                <button mat-button color="primary" (click)="submitOrderlines()"> Devam et...</button>
              </p>
            </td>
          </tr>
          </tfoot>
          <tbody>
          <tr *ngIf="count<=1;else multiOrderline">
            <td>
              <mat-form-field class="form-field">
                <input matInput type="number" min="0" step="25" placeholder="En" name="width" appKeepNegative appDisablePaste
                       [(ngModel)]="orderline.propertyWidth" required/>
                <span matSuffix>cm</span>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-field">
                <input matInput type="number" min="0" step="25" placeholder="Boy" name="heigth" appKeepNegative appDisablePaste
                       [(ngModel)]="orderline.propertyHeight" required/>
                <span matSuffix>cm</span>
              </mat-form-field>
            </td>
            <td *ngIf="orderlineProperties.direction">
              <ng-container *ngIf="orderline.product.productValue!==9; else fonPerde">
                <mat-button-toggle-group name="direction" [(ngModel)]="orderline.direction"
                                         #group="matButtonToggleGroup"
                                         required>
                  <mat-button-toggle [value]="1">
                    <mat-icon>border_left</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle [value]="2">
                    <mat-icon>border_right</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </ng-container>
            </td>
            <ng-template #fonPerde>
              <td>
                <mat-button-toggle-group name="direction" [(ngModel)]="orderline.direction"
                                         #group="matButtonToggleGroup"
                                         required>
                  <mat-button-toggle matTooltip="Sol" [value]="1">
                    <mat-icon>border_left</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle matTooltip="Sağ" [value]="2">
                    <mat-icon>border_right</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle matTooltip="Sol + Sağ" [value]="0">
                    <mat-icon>border_outer</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </td>
            </ng-template>
          </tr>
          <ng-template #multiOrderline>
            <tr *ngFor="let or of orderlinesDetails">
              <td>
                <mat-form-field class="form-field">
                  <input matInput type="number" min="0" step="25" placeholder="En" name="multiWidth"
                         [(ngModel)]="or.propertyWidth" required/>
                  <span matSuffix>cm</span>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field">
                  <input matInput type="number" min="0" step="25" placeholder="Boy" name="multiHeight"
                         [(ngModel)]="or.propertyHeight" required/>
                  <span matSuffix>cm</span>
                </mat-form-field>
              </td>
              <td>
                <mat-button-toggle-group name="multiDirection" [(ngModel)]="or.direction" #group="matButtonToggleGroup"
                                         required>
                  <mat-button-toggle [value]="1">
                    <mat-icon>border_left</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle [value]="2">
                    <mat-icon>border_right</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </td>
            <tr>
          </ng-template>
          <tr>
            <td>
              <mat-form-field class="form-field">
                <input matInput type="text" placeholder="Desen" name="pattern"
                       [(ngModel)]="orderline.product.patternCode"
                       required/>
                <mat-icon matSuffix>view_headline</mat-icon>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-field">
                <input matInput type="text" placeholder="Varyant" name="variant"
                       [(ngModel)]="orderline.product.variantCode" required/>
                <mat-icon matSuffix>texture</mat-icon>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-field">
                <input matInput type="text" placeholder="İsim" name="alias" [(ngModel)]="orderline.product.aliasName"
                       required/>
                <mat-icon matSuffix>filter_list</mat-icon>
              </mat-form-field>
            </td>
          </tr>
          <tr *ngIf="orderlineProperties.sizeOfPile">
            <td>
              <mat-form-field class="form-field">
                <input matInput
                       type="number"
                       step="0.5"
                       min="0.5"
                       max=3.5
                       placeholder="Pile Sıklığı"
                       name="sizeOfPile"
                       appKeepNegative appDisablePaste
                       [(ngModel)]="orderline.sizeOfPile" required/>
              </mat-form-field>
            </td>
            <ng-container *ngIf="orderlineProperties.propertyLeftRightWidth">
              <td>
                <mat-form-field class="form-field">
                  <input matInput type="number" min="0" step="5" placeholder="Sol En" name="leftWidth"
                         [(ngModel)]="orderline.propertyLeftWidth" required/>
                  <span matSuffix>cm</span>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field">
                  <input matInput type="number" min="0" step="5" placeholder="Sağ En" name="leftRight"
                         [(ngModel)]="orderline.propertyRightWidth" required/>
                  <span matSuffix>cm</span>
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container *ngIf="orderlineProperties.fonType">
              <td>
                <mat-form-field>
                  <mat-select name="fonType" [(ngModel)]="orderline.fonType" required placeholder="Tipi">
                    <mat-option *ngFor="let font of fontTypes" [value]="font.value">{{ font.viewValue }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>
            <td *ngIf="orderlineProperties.pileName">
              <mat-form-field class="form-field">
                <mat-select name="pileName" [(ngModel)]="orderline.pileName" required placeholder="Pile İsmi">
                  <mat-option *ngFor="let pile of piles" [value]="pile.value">
                    {{ pile.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="form-field">
                <input matInput type="number" min="0" placeholder="Birim Fiyat" name="unitPrice"
                       appKeepNegative appDisablePaste
                       [(ngModel)]="orderline.unitPrice" required/>
                <span matSuffix>TL</span>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-field">
                <input matInput
                       type="text"
                       placeholder="Tutar"
                       name="calcualteLineAmount"
                       [value]="calcualteLineAmount"
                       disabled/>
                <button mat-icon-button matSuffix
                        type="button"
                        (click)="calculateOrderline()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </mat-form-field>
            </td>
            <th *ngIf="orderlineProperties.mechanismStatusAndPieceCount">Mekanizma Tipi</th>
          </tr>
          <tr *ngIf="orderlineProperties.skirtAndBeadOptions">
            <td>
              <mat-form-field class="form-field">
                <input matInput type="text" placeholder="Etek Dilimi" name="skirt" [(ngModel)]="orderline.skirtNo"
                       required/>
              </mat-form-field>
            </td>
            <td *ngIf="orderlineProperties.skirtAndBeadOptions">
              <mat-form-field class="form-field">
                <input matInput type="text" placeholder="Boncuk" name="bead" [(ngModel)]="orderline.beadNo" required/>
              </mat-form-field>
            </td>
            <td *ngIf="orderlineProperties.mechanismStatusAndPieceCount">
              <mat-button-toggle-group name="mechanismStatus" [(ngModel)]="orderline.mechanismStatus"
                                       #group="matButtonToggleGroup"
                                       required>
                <mat-button-toggle matTooltip="Tek Parça"
                                   class="mechanismStatusIcons"
                                   [disabled]="count>1 && !orderline.id"
                                   [value]="1">
                  <mat-icon>view_carousel</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Parçalı"
                                   class="mechanismStatusIcons"
                                   [disabled]="count===1 && !orderline.id"
                                   [value]="2">
                  <mat-icon>view_column</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle matTooltip="Tek Kasa Çoklu Mekanizma"
                                   class="mechanismStatusIcons"
                                   [disabled]="count === 1 && !orderline.id"
                                   [value]="3">
                  <mat-icon>line_style</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </td>
          </tr>
          <tr *ngIf="orderlineProperties.altWidthAndHeight">
            <td>
              <mat-form-field class="form-field">
                <input matInput type="number" min="0" step="5" placeholder="Farbella En" name="altWidth"
                       [(ngModel)]="orderline.propertyAlternativeWidth" required/>
                <span matSuffix>cm</span>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-field">
                <input matInput type="number" min="0" step="5" placeholder="Farbella Boy" name="altHeight"
                       [(ngModel)]="orderline.propertyAlternativeHeight" required/>
                <span matSuffix>cm</span>
              </mat-form-field>
            </td>
          </tr>
          <tr *ngIf="orderlineProperties.propertyModelName">
            <td>
              <mat-form-field class="form-field">
                <input matInput type="text" placeholder="Model" name="model" [(ngModel)]="orderline.propertyModelName"
                       required/>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <mat-form-field class="form-field">
            <textarea matInput type="text" placeholder="Açıklama" name="lineDesc"
                      [(ngModel)]="orderline.lineDescription">
            </textarea>
              </mat-form-field>
            </td>
          </tr>
          </tbody>
        </table>
        <mat-card-actions>
          <ng-container>
            <button mat-button color="warn" (click)="closeForm.emit()">Vazgeç</button>
            <button mat-raised-button color="accent" (click)="form.valid ? submitOrderlines() : alertShow = true">Kaydet
            </button>
          </ng-container>
        </mat-card-actions>
    </form>
  </div>
</div>
