.form-field{
  width:65%
}

.purple-toggle-button:not(.mat-button-toggle-disabled){
  color: darkslateblue;
}

.blue-toggle-button:not(.mat-button-toggle-disabled){
  color: #0010ff;
}

input[name="calcualteLineAmount"]{
  font-size: 0.75em;
}
