
<div class="order-info" *ngIf="state.order.id">
  <span class="title"><span class="font-weight-bold">Müşteri İsmi:&nbsp;</span> {{ state.customer.nameSurname }}</span>
  <div class="order-detail float-right">
    <span class="title"><span class="font-weight-bold">Sipariş Tarihi:&nbsp;</span> {{ state.order.orderDate| date: 'M/d/yy, HH:mm'}}</span>
    <span class="title"><span class="font-weight-bold">Sipariş Numarası:&nbsp;</span> {{ state.order.id}}</span>
  </div>
</div>
<mat-accordion>

  <!--All orderlines for current order-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Alınan Ölçüler
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

  <!--Create Customer and Initial new order-->
  <mat-expansion-panel [expanded]="state.stepper.count == 0" (opened)="setStep(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Müşteri Bilgileri
      </mat-panel-title>
      <mat-panel-description>
        {{ state.customer.nameSurname }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-customer></app-customer>
  </mat-expansion-panel>

  <!--Add common fields of orderlineInProcess -->
  <mat-expansion-panel [expanded]="state.stepper.count == 1"
                       (opened)="measureFormOpened()"
                       (closed)="measureFormClosed()"
                       *ngIf="state.customer.id">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sipariş Detayı
      </mat-panel-title>
      <mat-panel-description *ngIf="state.orderlineInProcess?.locationType">
        {{ locationService.getByIndex(state.orderlineInProcess.locationName)?.viewValue || 'Mekan Seçiniz' }} &nbsp; {{
        state.orderlineInProcess.locationType}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-measure-form (locationType)="getOrderlineProperties($event)"></app-measure-form>
  </mat-expansion-panel>

  <!--Add specific fields of orderlineInProcess-->
  <mat-expansion-panel [expanded]="state.stepper.count == 2"
                       (opened)="setStep(2)"
                       *ngIf="state.customer.id">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Perde Detayı
      </mat-panel-title>
      <mat-panel-description>
        {{ orderlineProperties.name || 'Perde Türü Seçiniz' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-dynamic-order-line [locationTypeByProperties]="orderlineProperties"></app-dynamic-order-line>
  </mat-expansion-panel>

</mat-accordion>

