<mat-accordion *ngIf="(customer | async) as c">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>person</mat-icon> &nbsp; {{c.name}}
      </mat-panel-title>
      <mat-panel-description *ngIf="!panelOpenState">
        Detay bilgiler için paneli açınız
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <mat-icon>smartphone</mat-icon>
        <span> {{ c.mobilTel }}</span>
      </li>
      <li class="list-group-item">
        <mat-icon>local_phone</mat-icon>
        <span> {{ c.fixedTel }}</span>
      </li>
      <li class="list-group-item">
        <mat-icon>location_on</mat-icon>
        <span> {{ c.address }}</span>
      </li>
      <li class="list-group-item">
        <mat-icon>location_on</mat-icon>
      </li>
    </ul>
   </mat-expansion-panel>
</mat-accordion>
