.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-card{
  margin-bottom: 10px;
  height: auto;
}

.mat-card-actions .mat-icon-button{
  width:auto
}
.mat-card.app-detail-card{
  /*height: 50vh;*/
}
/*Table*/
tr {
  width: 100%;
  display: inline-table;
}

table{
  height:230px;
}
tbody{
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  position: absolute;
}
table th, table td {
  width: 20%;
}
.app-brief-daily, .app-brief-report{
  cursor: pointer;
}
.app-brief-daily:hover{
  box-shadow: 0 10px 14px 1px rgba(16, 87, 217, 0.12), 0 4px 18px 3px rgba(16, 87, 217, 0.68)
}
.highlight-blue{
  box-shadow: 0 10px 14px 1px rgba(16, 87, 217, 0.12), 0 4px 18px 3px rgba(16, 87, 217, 0.68)
}
.app-brief-report:hover{
  box-shadow: 0 10px 14px 1px rgba(217,16,178, 0.12), 0 4px 18px 3px rgba(217,16,178, 0.68)
}
.highlight-pink{
  box-shadow: 0 10px 14px 1px rgba(217,16,178, 0.12), 0 4px 18px 3px rgba(217,16,178, 0.68)
}
.app-brief-daily{
  background: linear-gradient(58deg,#f44336,#673ab7);
  color: #fff;
}
.app-brief-report{
  background: linear-gradient(58deg,#009688,#673ab7);
  color: #fff;
}
.app-brief .mat-icon:not(.app-alert){
  font-size: 48px;
}
.app-detail-page .mat-card{
  background: linear-gradient(45deg,#dee2e600,#c0c0c0b8)
}
.app-detail-page .mat-table{
  background: transparent;
}
.app-detail-page .table-container{
  box-shadow: none !important;
  transition: none !important;
  -webkit-box-shadow: none !important;
}

/*Data Table*/
.table-container {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  min-width: 50vw;
}

.mat-table {
  overflow: auto;
  max-height: 40vh;
}


