.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-card{
  margin-bottom: 10px;
  height: auto;
}

.mat-card-actions .mat-icon-button{
  width:auto
}
.mat-card:nth-child(3),.mat-card:nth-child(4){
  margin-bottom: 20px;
}
.mat-card.app-detail-card{
  /*height: 50vh;*/
}
/*Table*/
tr {
  width: 100%;
  display: inline-table;
}

table{
  height:230px;
}
tbody{
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  position: absolute;
}
table th, table td {
  width: 20%;
}

.app-brief:hover{
  box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
}

/*Data Table*/
.table-container {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  min-width: 50vw;
}

.mat-table {
  overflow: auto;
  max-height: 40vh;
}


