.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-card{
  margin-bottom: 10px;
}

.mat-card-actions .mat-icon-button{
  width:auto
}

.mat-card.app-detail-card{
  height: 50vh;
}
/*Table*/
tr {
  width: 100%;
  display: inline-table;
}

table{
  height:300px;
}
tbody{
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  position: absolute;
}
table th, table td {
  width: 20%;
}

