<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="orderlines?.length>0; else empty">
        <p-table [value]="orderlines"
                 [columns]="cols" [loading]="showPending">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em;">#</th>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
              <th style="width: 3.25em">Sil</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-orderline let-index="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="orderline">
              <td>
                {{ index + 1 }}
              </td>
              <td>
                {{locations[orderline.locationName].viewValue}}
              </td>
              <td>
                {{orderline.locationType}}
              </td>
              <td>
                {{ products[orderline.product.productValue].viewValue }}
              </td>
              <td>
                {{orderline.lineAmount | currency: 'TRY ':'2.2-2'}}
              </td>
              <td class="text-center">
                <button mat-icon-button class="btn-delete" color="warn" (click)="delete(orderline.id)">
                  <mat-icon>clear</mat-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <ng-template #empty>
        <div class="alert alert-secondary" role="alert">
          Henüz bir ölçü eklemediniz.
        </div>
      </ng-template>
    </div>
  </div>
</div>
