<div class="container-fluid orderlines-table">
  <div class="row">
    <div class="col-md-12">
      <p-table [responsive]="responsive" [loading]="isPending"
               [styleClass]="'mat-elevation-z10'"
               [rowHover]="true" [value]="orderlines" selectionMode="single" (onRowSelect)="viewOrderline($event.data)"
               [autoLayout]="autoLayout" rowExpandMode="single" dataKey="id">
        <ng-template pTemplate="caption">
          Ölçüler
        </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Mekan</th>
            <th>Perde Türü</th>
            <th>Kapı/Cam</th>
            <th>En (cm)</th>
            <th>Boy (cm)</th>
            <ng-container *ngIf="!isTailor">
              <th>Birim Fiyat</th>
              <th>Toplam</th>
              <th>İşlemler</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-orderline let-expanded="expanded" let-columns="columns">
          <tr [pSelectableRow]="orderline">
            <td style="display: none">
              <span class="ui-column-title">id</span>
              {{orderline.id}}
            </td>
            <td>
              <span class="ui-column-title">Mekan</span>
              {{ orderline?.locationName }}
            </td>
            <td>
              <span class="ui-column-title">Perde Türü</span>
              {{ productTypes[orderline.product.productValue]?.viewValue }}
            </td>
            <td>
              <span class="ui-column-title">Kapı/Cam</span>
              {{ orderline.locationType }}
            </td>
            <td>
              <span class="ui-column-title">En</span>
              {{ orderline.propertyWidth }}
            </td>
            <td>
              <span class="ui-column-title">Boy</span>
              {{ orderline.propertyHeight }}
            </td>
            <td *ngIf="!isTailor">
              <span class="ui-column-title">Birim Fiyat</span>
              {{ orderline.unitPrice | currency: 'TRY':'2.2-2' }}
            </td>
            <td *ngIf="!isTailor">
              <span class="ui-column-title">Toplam</span>
              {{ orderline.lineAmount | currency: 'TRY':'2.2-2' }}
            </td>
            <td *ngIf="!isTailor">
              <span class="ui-column-title" *ngIf="responsive">İşlemler</span>
              <button mat-icon-button class="btn-delete" color="warn" (click)="deleteProcessConfirmation(orderline.id)">
                Sil
              </button>
              <button class="btn btn-link btn-delete" (click)="editOrderline(orderline)">
                <mat-icon class="app-sm-icon" color="primary">mode_edit</mat-icon>
              </button>
          </tr>
        </ng-template>
      </p-table>
      <br>
        <ng-container *ngIf="addedPossibilty">
          <div style="text-align:left">
            <button type="button" pButton icon="fa-plus" (click)="addOrderline()" label="Ölçü Ekle"></button>
          </div>
        </ng-container>
    </div>
  </div>
</div>
