<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-6 col-lg-6">
      <mat-card class="mat-elevation-z10">
        <mat-card-subtitle>Haftalık Sipariş Özet Grafiği</mat-card-subtitle>
        <ng-container *ngIf="reports">
          <app-chart [reports]="reports" [titleDisplay]="false" labelType="day"></app-chart>
        </ng-container>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6 app-secondDiv">
      <mat-card class="mat-elevation-z10">
        <mat-card-subtitle>Haftalık Sipariş Özet Tablosu</mat-card-subtitle>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Adet</th>
            <th scope="col">Tutar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let report of reports">
            <td>{{ report.date | date: "MMM d":"":"tr" }}</td>
            <td>{{ report.count }}</td>
            <td>{{ report.sum | currency: 'TRY':"symbol-narrow":"1.0-0":"tr" }}</td>
          </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
  <hr>
  <div class="row align-items-start">
    <div class="col-md-6 col-lg-6">
      <mat-card class="mat-elevation-z10">
        <mat-card-subtitle>Yaklaşan Ölçü Alma İşlemleri</mat-card-subtitle>
        <div *ngIf="isPendingMeasure" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner [diameter]="25"></mat-spinner>
        </div>
        <ng-container *ngIf="dataSourceMeasure.data;else emptyList1">

          <div class="app-datatable-container mat-elevation-z3">
            <mat-table #table [dataSource]="dataSourceMeasure">

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> İsim </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.customer.nameSurname}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef> Ölçü Alan </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.userUsername}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="measureDate">
                <mat-header-cell *matHeaderCellDef> Ölçü Tarihi </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.measureDate | date: "MMM d":"":"tr"}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Durum </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{(order.orderStatus | orderStatus).viewValue}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsMeasure"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsMeasure;"></mat-row>
            </mat-table>
          </div>
        </ng-container>
        <ng-template #emptyList1>
          <div class="alert alert-light" role="alert">
            Yakın tarihte ölçü alma işleminiz görünmüyor.
          </div>
        </ng-template>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6 app-secondDiv">
      <mat-card class="mat-elevation-z10">
        <mat-card-subtitle>Yaklaşan Teslimatlar</mat-card-subtitle>
          <div *ngIf="isPendingDelivery" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        <ng-container *ngIf="dataSourceDelivery.data;else emptyList2">
          <div class="app-datatable-container mat-elevation-z3">
            <mat-table #table [dataSource]="dataSourceDelivery">

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> İsim </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.customer.nameSurname}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef> Ölçü Alan </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.userUsername}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="deliveryDate">
                <mat-header-cell *matHeaderCellDef> Teslim Tarihi </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.deliveryDate | date: "MMM d":"":"tr"}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Durum </mat-header-cell>
                <mat-cell *matCellDef="let order"
                          [style.color]="(order.orderStatus === 4 || order.orderStatus === 5) ? '#3F51B5':'red'">
                  {{(order.orderStatus | orderStatus).viewValue}}
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsDelivery"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsDelivery;"></mat-row>
            </mat-table>
          </div>
        </ng-container>
        <ng-template #emptyList2>
          <div class="alert alert-light" role="alert">
            Yakın tarihte bir teslimatınız görünmüyor.
          </div>
        </ng-template>
      </mat-card>
    </div>
  </div>

</div>
