.app-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-card-subtitle{
  text-align: center;
}
@media (max-width: 768px) {
  .app-secondDiv{
    margin-top: 25px;
  }
}
/*Data Table*/
.app-datatable-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.mat-table {
  overflow: auto;
  max-height: 25vh;
}
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.mat-card{
  margin-bottom: 10px;
  height: auto;
  min-height: 51vh;
}
.mat-card:nth-child(3) {
  margin-bottom: 20px;
}
.mat-table{
  max-height: 40vh;
}
