.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}

.form-container > * {
  width: 100%;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-sm{
  width:35%;
  min-width: 120px;
}

.cart-table{
  border: solid darkblue 2px;
  border-radius: 6px;
  height: 100%;
}

.cart-table>table{
  display: table;
}
