<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <form [formGroup]="measureForm">
        <div class="form-container">
          <mat-form-field>
            <mat-select formControlName="location" name="location" [(ngModel)]="orderline.locationName" placeholder="Mekan">
              <mat-option *ngFor="let location of locations" [value]="location.value">
                {{ location.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="product" name="product" (change)="locationTypeChanged($event)" (onOpen)="resetSelectedProduct()" [(ngModel)]="orderline.productDetailModel.productValue" placeholder="Perde Türü">
              <mat-option *ngFor="let product of products" [value]="product.value">
                {{ product.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-radio-group formControlName="windowOrDoor" name="windowOrDoor" [(ngModel)]="locationTypeCode1">
            <mat-radio-button value="Kapı">Kapı</mat-radio-button>
            <mat-radio-button value="Pencere">Pencere</mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <span matPrefix>Kapı/Cam No: &nbsp;</span>
            <input type="number" matInput formControlName="productNo" name="productNo" [(ngModel)]="locationTypeCode2" placeholder="No">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

        </div>
        <button type="button"
                mat-raised-button
                class="add-button-row float-left"
                (click)="updateStep(-1)"
                color="accent">Geri</button>
        <button type="submit"
                mat-raised-button
                class="add-button-row float-right"
                (click)="updateStep(1)"
                color="primary">Devam</button>
      </form>
    </div>
  </div>
</div>
