<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <button mat-icon-button type="button"
              (click)="isSelfEditLocationName = !isSelfEditLocationName">
        <mat-icon aria-label="Diğer" [color]="isSelfEditLocationName ? 'accent':''">mode_edit</mat-icon>
      </button>
      <ng-template #selfLocationName>
        <mat-form-field class="input-sm">
          <input type="text" matInput name="locationName"
                 [(ngModel)]="locationName" placeholder="Oda İsmi"
                 required>
        </mat-form-field>
      </ng-template>
      <ng-container *ngIf="!isSelfEditLocationName;else selfLocationName">
        <mat-form-field class="input-sm">
          <mat-select [(ngModel)]="locationName" placeholder="Oda" required>
            <mat-option *ngFor="let loc of locations" [value]="loc.viewValue">
              {{ loc.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      &nbsp;
      <ng-container *ngIf="!locationTypeSelected; else locationNo">
        <p-toggleButton onLabel="Pencere" offLabel="Pencere" (onChange)="setLocationType($event,'Pencere')"
                        onIcon="fa-check-square" offIcon="fa-square" #window></p-toggleButton>
        <p-toggleButton onLabel="Kapı" offLabel="Kapı" (onChange)="setLocationType($event,'Kapı')"
                        onIcon="fa-check-square" offIcon="fa-square" #door></p-toggleButton>
      </ng-container>
      <ng-template #locationNo>
        <mat-form-field class="input-sm">
          <span matPrefix>{{ locationTypeCode1 }}: &nbsp;</span>
          <input type="number" min="1" max="15" matInput name="locationTypeCode2"
                 [(ngModel)]="locationTypeCode2" placeholder="No"
                 required>
          <button mat-icon-button matSuffix (click)="clearLocationTypes()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </ng-template>
      <hr>
      <p-toggleButton *ngFor="let pr of products" [(ngModel)]="selectedProducts[pr.value].isSelected"
                      (onChange)="toggleProduct($event.checked,pr.value)" onLabel="{{ pr.viewValue }}"
                      offLabel="{{ pr.viewValue }}" onIcon="fa-check-square"
                      offIcon="fa-square" [style]="{'width':'150px'}"></p-toggleButton>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col-md-5 col-sm-12">
      <div class="cart-table">
        <ng-container>
          <nav class="navbar navbar-light">
            <div class="navbar-collapse">
              <span class="navbar-text" [class.text-primary]="locationName">{{ locationName  ? locationName : "Oda Seçiniz" }}</span> |
              <span class="navbar-text" [class.text-primary]="(locationTypeCode1 || locationTypeCode2)">{{ (locationTypeCode1 || locationTypeCode2) ? locationTypeCode1 + " " + locationTypeCode2 : "Cam/Kapı No Seçiniz"}}</span>
            </div>
          </nav>
        </ng-container>
        <table class="table table-sm table-responsive">
          <tfoot>
            <tr>
              <td colspan="5">
                <mat-progress-bar *ngIf="isProgressive" mode="indeterminate"></mat-progress-bar>
              </td>
            </tr>
          </tfoot>
          <tbody>
          <tr *ngFor="let orderline of selectedUniqueProducts">
            <td>
              <div class="button-row float-left">
                <button mat-icon-button color="accent"
                        (click)="removeProduct(orderline.product.productValue)">
                  <mat-icon aria-label="Perde adedini azalt">remove_circle</mat-icon>
                </button>
                <button mat-icon-button color="primary" [disabled]="!isStore(orderline)"
                        (click)="addProduct(orderline.product.productValue)">
                  <mat-icon aria-label="Perde adedini arttır">add_circle</mat-icon>
                </button>
              </div>
            </td>
            <td style="padding-top: 15px">{{ products[orderline.product.productValue].viewValue }}</td>
            <td style="padding-top: 15px">x{{ getProductCount(orderline.product.productValue) }}</td>
            <td>
              <button mat-icon-button
                      color="primary"
                      [disabled]="!(locationTypeCode1&&locationTypeCode2&&locationTypeSelected&&locationName)"
                      (click)="openMeasureProcessDialog(orderline)">
                <mat-icon aria-label="Ölçü Ekle">edit</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
