.app-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-from-field{
  width: 25%;
}

.app-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.app-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
