@import url('https://fonts.googleapis.com/css?family=Play');


.sidenav-container {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  padding-top: 20px;
  width: 14rem;
  background: white;
}

.content{
  padding-top: 50px;
  padding-left: 10px;
}

.hide-sidenav-button{
  position: absolute;
  top: 0;
  right: 0;
}

.show-sidenav-button{
  position: absolute;
  top: 0;
  left: 0;
}

a:hover{
  text-decoration: none;
}

.mat-nav-list{
  width: 100%
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.add-circle-icon{
  /*color: greenyellow;*/
}

/*Override Material */
.mat-list-item {
  font-family: 'Play', sans-serif;
  font-size: 1.13rem;
}

.mat-drawer.mat-drawer-side{
 z-index: 1;
}

  /*Override Bootstrap*/
.list-group{
  width:100%
}

