<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [mode]="isScreenSmall ? 'over':'side'"
                 class="sidenav mat-elevation-z6"
                 [opened]="!isScreenSmall"
                 [fixedInViewport]="false"  #sidenav>
      <mat-nav-list>
        <mat-list-item>
          <span matLine [matMenuTriggerFor]="menu">Yeni Sipariş</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item type="button" (click)="newCustomer()">
              <mat-icon>add</mat-icon>
              <span>Yeni Müşteri</span>
            </button>
            <button mat-menu-item type="button" routerLink="/dashboard/customers">
              <mat-icon>assignment_ind</mat-icon>
              <span>Kayıtlı Müşteri</span>
            </button>
          </mat-menu>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <a matLine routerLink="customers">Müşteriler</a>
            <button mat-icon-button>
              <mat-icon>account_box</mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item>
          <a matLine routerLink="orders">Siparişler</a>
          <button mat-icon-button>
            <mat-icon>shopping_basket</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdmin">
          <a matLine routerLink="reports">Raporlar</a>
          <button mat-icon-button>
            <mat-icon>assignment</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdmin">
          <a matLine routerLink="wallet">Cüzdan</a>
          <button mat-icon-button>
            <mat-icon>account_balance_wallet</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <a matLine routerLink="campaigns">Kampanyalar</a>
          <button mat-icon-button>
            <mat-icon>card_giftcard</mat-icon>
          </button>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav mode="over"
                 class="notify-sidenav mat-elevation-z6"
                 position="end"
                 [opened]="'false'"
                 [fixedInViewport]="false"  #notifySideNav>
      <mat-nav-list>
          <app-notifications (closeSidenav)="notifySideNav.close()"></app-notifications>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()" (toggleNotifies)="notifySideNav.toggle()"></app-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

