<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [mode]="isScreenSmall ? 'over':'side'"
               class="app-sidenav"
               [opened]="!isScreenSmall"
               [fixedInViewport]="false" #sidenav>
    <mat-toolbar color="primary" class="side-toolbar">
      <mat-toolbar-row>
        <div class="col text-center">
          <span class="font-weight-bold text-uppercase text-white">tül shop</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="sidenav-profil" fxLayout="column" fxLayoutAlign="center start">
      <div class="profil" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
        <div class="profil-image">
          <i class="fa fa-user-circle"></i>
        </div>
        <div class="user align-self-center">
          <h6 class="font-weight-bold text-capitalize">ahmet şafak</h6>
        </div>
      </div>
      <br>
      <div class="profile-config" fxLayout="row" fxLayoutAlign="space-evenly end">
        <button class="settings" mat-icon-button>
          <mat-icon class="settings-icon" matTooltip="Ayarlar">settings</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon matTooltip="Yönetim">store</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
      <div class="sidenav-list">
        <mat-nav-list>
          <mat-list-item>
            <span matLine [matMenuTriggerFor]="menu">Yeni Sipariş</span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="button" (click)="newCustomer()">
                <mat-icon>add</mat-icon>
                <span>Yeni Müşteri</span>
              </button>
              <button mat-menu-item type="button" routerLink="/dashboard/customers">
                <mat-icon>assignment_ind</mat-icon>
                <span>Kayıtlı Müşteri</span>
              </button>
            </mat-menu>
          </mat-list-item>
          <mat-list-item >
           <a matLine routerLink="./" fxLayout="row">Ana Sayfa
            <span class="fill-remaining-space"></span>
             <mat-icon>home</mat-icon>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a matLine routerLink="customers" fxLayout="row">Müşteriler
              <span class="fill-remaining-space"></span>
              <mat-icon>account_box</mat-icon>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a matLine routerLink="orders" fxLayout="row">Siparişler
              <span class="fill-remaining-space"></span>
              <mat-icon>shopping_basket</mat-icon>
            </a>
          </mat-list-item>
          <mat-list-item *ngIf="authService.user.role == 'r1'">
            <a matLine routerLink="reports" fxLayout="row">Raporlar
              <span class="fill-remaining-space"></span>
              <mat-icon>assignment</mat-icon>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </div>
  </mat-sidenav>
  <mat-sidenav mode="over"
               class="notify-sidenav mat-elevation-z6"
               position="end"
               [opened]="'false'"
               [fixedInViewport]="false" #notifySideNav>
    <mat-nav-list>
      <app-notifications *ngIf="authService.user.role == 'r1'"
                         (closeSidenav)="notifySideNav.close()"></app-notifications>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <app-toolbar (toggleSidenav)="sidenav.toggle()" (toggleNotifies)="notifySideNav.toggle()"></app-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
