<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="over"
               class="notify-sidenav mat-elevation-z6"
               position="end"
               [opened]="'false'"
               [fixedInViewport]="false"  #notifySideNav>
    <mat-nav-list>
      <app-notifications *ngIf="user.role == 'r3'" (closeSidenav)="notifySideNav.close()"></app-notifications>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <app-toolbar (toggleNotifies)="notifySideNav.toggle()"></app-toolbar>
      <div class="order-list">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



