<div class="container">
  <div class="row">
    <div class="col-md-10">
      <form>
        <div class="form-container">
          <mat-form-field>
            <input matInput type="text" placeholder="Ad Soyad">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="tel" placeholder="Mobil Tel">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="tel" placeholder="Sabit Tel">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput type="text" placeholder="Adres"></textarea>
          </mat-form-field>

          <mat-checkbox>Kampanya Bilgilendirmesi</mat-checkbox>
        </div>

        <button type="button" mat-raised-button class="add-button-row float-right" color="primary">Ekle</button>
      </form>
    </div>
  </div>
</div>
