<div class="container">
  <div class="row">
    <div class="col-md-10">
      <form #customerForm="ngForm">
        <div class="form-container">
          <mat-form-field>
            <input matInput name="name" ngModel type="text" required  placeholder="Ad Soyad">
          </mat-form-field>

          <mat-form-field>
            <input matInput name="mobilTel" ngModel type="tel" required placeholder="Mobil Tel">
          </mat-form-field>

          <mat-form-field>
            <input matInput name="fixedTel" ngModel type="tel" placeholder="Sabit Tel">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput name="address" ngModel type="text" required placeholder="Adres"></textarea>
          </mat-form-field>

          <mat-checkbox name="isTrackingCampaign" [ngModel]="false">Kampanya Bilgilendirmesi</mat-checkbox>
        </div>
        <button [disabled]="customerForm.invalid" type="button" mat-raised-button class="add-button-row float-right" (click)="addCustomer(customerForm)" color="primary">Ekle</button>
      </form>
    </div>
  </div>
</div>
