<div class="container">
  <div class="row">
    <div class="col-md-10">
      <fieldset [disabled]="!isEdit">
        <form #customerForm="ngForm">
          <div class="form-container">
            <mat-form-field>
              <input matInput name="nameSurname"
                     [(ngModel)] = "customer.nameSurname"
                     type="text"
                     required
                     placeholder="Ad Soyad">
            </mat-form-field>

            <mat-form-field>
              <input matInput name="mobilePhone"
                     [(ngModel)] = "customer.mobilePhone"
                     type="tel"
                     required
                     placeholder="Mobil Tel">
            </mat-form-field>

            <mat-form-field>
              <input matInput name="fixedPhone"
                     [(ngModel)] = "customer.fixedPhone"
                     type="tel"
                     placeholder="Sabit Tel">
            </mat-form-field>

            <mat-form-field>
              <textarea matInput name="address"
                        [(ngModel)] = "customer.address"
                        type="text"
                        required placeholder="Adres"></textarea>
            </mat-form-field>

            <mat-checkbox name="newsletterAccepted"
                          [(ngModel)] = "customer.newsletterAccepted">Kampanya Bilgilendirmesi</mat-checkbox>
          </div>
        </form>
      </fieldset>

       <div class="add-button-row float-right">
         <button *ngIf="!isEdit; else nextButton"
                [disabled]="customerForm.invalid"
                type="button" mat-button
                (click)="updateStep(-1)"
                color="primary">Düzenle</button>
         <ng-template #nextButton>
           <button #button [disabled]="customerForm.invalid"
                   type="button" mat-raised-button
                   (click)="updateStep(1)"
                   color="primary">Kaydet</button>
         </ng-template>
       </div>
    </div>
  </div>
</div>
